*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
google-services.json
*.apk
*.aab
Thumbs.db
*.log
*.class
*/build/
*.tmp
*.bak
*.swp
*.keystore

#Keystore aún no está pero nos va a servir más adelante